################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs
/MicrochartsSample/bin/Debug/netstandard2.0
/MicrochartsSample/obj
/MicrochartsSample.Android/bin/Debug
/MicrochartsSample.Android/obj
/MicrochartsSample.Android/MicrochartsSample.Android.csproj.user
/MicrochartsSample.iOS/obj
/MicrochartsSample.iOS/bin